In [1]:
#hello world
print("Welcome to python")

Welcome to python

In [3]:
#mathematical operations 
x= 10
y = 10 
a= x+y
print(a)

20

In [5]:
#typeof function
z= "hello world"
print(type(x))
print(type(z))

<class 'int'>
<class 'str'>

In [6]:
#decision making,conditional statements
l = 6
if(l>5):
    print("l is greater than 5")
else:
    print("l is less than 5")

l is greater than 5

In [14]:
#List creating and printing 
list1 = ["apple","banana","cherry"]
print(list1)
print(list1[0:1])

['apple', 'banana', 'cherry']
['apple']

In [8]:
#type of list
type(list1)

list

In [9]:
#tuple
tuple1 = (1,2,3)
print(tuple1)
type(tuple1)

(1, 2, 3)

tuple

In [23]:
#Week 1 Question 1
n = int(input("Enter n"))
sum = n*(n+1)/2
print("The sum of n natural numbers is :", sum)

Enter n10
The sum of n natural numbers is : 55.0

In [25]:
#week 1 question 2
foot = float(input("Enter the number of foot :"))
inches = float(input("Enter the number of inches:"))
totalinches = (foot*12)+ inches
totalcen = totalinches*2.54
print("total centimeters:",totalcen)

Enter the number of feet :1
Enter the number of inches:1
total centimeters: 33.02

In [30]:
#week 1 Question 3
hy = int(input("Enter human year: "))
if(hy>=2):
    dy = 21 + ((hy-2)*4)
elif(hy<2):
    dy = hy*10.5
print(dy)

Enter human year: 2
21

In [35]:
#week1 question 4
month = input("Enter the month:")
days30 =['april','june','september','november']
days31 =['january','march','may','july','august','october','december']
if(month in days30):
    print("30 days")
elif(month in days31):
    print("31 days")
elif(month =='february'):
    y = input("is it a leap year, y = yes, n= no")
    if(y =='y'):
        print("29 days")
    else:
        print("28 days")

Enter the month:february
is it a leap year, y = yes, n= non
28 days

In [1]:
#week1 question 4 type 2
month = input("Enter the month:")
if(month == 'january' or month=='march' or month == 'may' or month=='july' or month == 'august' or month == 'october' or month =='december'):
    print("31 days")
elif(month=='april' or month == 'june' or month == 'september' or month == 'november'):
    print('30 days')
elif(month == 'february'):
    y = input("is it a leap year? y-yes,n-no")
    if(y=='y'):
        print("29 days")
    else:
        print("28 days")

Enter the month:january
31 days